.mainHeader {
    text-align: center;
    font-size: 35px;
    margin: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue;
}

.demonym_app__placeholder {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    margin: 1%;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid lightpink;
    font-size: 20px;
}